@use '../base/vars' as var;
.navigation{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    &__link{
        text-decoration: none;   
        color: black;
        &--register{
            background-color: var.$enlace--registro;
            border-radius: 5px;
            color: var.$enlace--color;
        }
    }
}