@mixin crear-grid($filas, $columnas, $gap: 40px) {
    display: grid;
    grid-template-rows: repeat($filas, 1fr);
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
  }

  .mi-cuadricula {
    @include crear-grid(7, 8); // 3 filas, 4 columnas, gap por defecto de 20px
  }
  
  .otra-cuadricula {
    @include crear-grid(2, 5, 30px); // 2 filas, 5 columnas, gap de 30px
  }